body {
    margin: 20px auto;
    background-color: lightblue;
    max-width: 1300px;
}

.card {
    width: 18rem;
}

.ekorre {
    max-width: 3252px;
    width: 100%;
}

.koltrast {
    max-width: 2856px;
    width: 100%;
}

.kungsfågel {
    max-width: 5472px;
    width: 100%;
}